<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>You have recieved  
    <% if @ticket.general %> 
      <%= @ticket.general %> general admission tickets, 
    <% end %>
    <% if @ticket.senior %> 
      <%= @ticket.senior %> senior admission tickets, 
    <% end %>
    <% if @ticket.military %> 
      <%= @ticket.general %> military admission tickets, 
    <% end %>
    <% if @ticket.child %> 
      <%= @ticket.child %> child admission tickets
    <% end %>
    to the Museum of Life and Science!</h1>
    <p>
      Here is your personal QR Code for admission into the building:
    </p>

    <style>
    table.qr-code {
      border-width: 0;
      border-style: none;
      border-color: #0000ff;
      border-collapse: collapse;
    }
    table.qr-code td {
      border-width: 0;
      border-style: none;
      border-color: #0000ff;
      border-collapse: collapse;
      padding: 0;
      margin: 0;
      width: 7px;
      height: 7px;
    }
    table.qr-code td.black { background-color: #000; }
    table.qr-code td.white { background-color: #fff; }
    </style>


    <table class="qr-code">
      <%# <% qrcode = RQRCode::QRCode.new("https://q-seum.firebaseapp.com/api/v1/tickets/#{@ticket.id}") %>
      <% @qr.modules.each_index do |x| -%>
      <tr>
      <% @qr.modules.each_index do |y| -%>
       <% if @qr.dark?(x,y) %>
        <td class="black"/>
       <% else %>
        <td class="white"/>
       <% end %>
      <% end %>
      </tr>
      <% end %>
    </table>
   
      <br>
    <p>Thanks for attending the Museum of Life and Science, have a great day!</p>
  </body>
</html>